* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: rgb(231, 212, 212);
  text-align: center;
  padding: 0 05%;
  font-size: 1.9rem;
  height: 12vh;
  cursor: pointer;
  border: 2px solid black;
  height: 100vh;
}

.logo span {
  color: rgb(255, 128, 0);
}
table {
  margin: auto;
}
input {
  font-size: 1rem;
  margin-top: 1.9rem;
  border: 2px solid rgb(13, 12, 12);
  height: 2.5rem;
  border-radius: 5px;
}
button {
  font-size: 1.9rem;
  background-color: rgb(178, 176, 176);
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.box {
  border: 2px solid black;
  width: 15rem;
  margin: 1rem;
  background: rgb(62, 69, 62);
  border-radius: 1rem;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
